*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     /* background-color: aqua; */
}
body{
    font-family: "benton-sans", "Helvetica", "sans-serif";
}

/* navbar css */

body {
   margin: 0px;
   padding: 0px;
}

#navbarindigogo {
   display: flex;
   /* grid-template-columns: repeat(2,1fr); */
   justify-content: space-between;
   gap: 15px;
   background-color: white;
   border: 1px solid #9898;
}

#dropbtn {
   background-color: #fff;
}

#navbarindigogofirst,
#navbarindigogosecond {
   display: flex;
}

#navbarindigogofirst>div:first-child {
   padding: 0px;
   margin-left: 20px;
}

#navbarindigogosecond>div:last-child {
   margin-right: 20px;
}

#navbarindigogofirst>div,
#navbarindigogosecond>div {
   padding: 10px;
}

#navbarindigogofirst>div>button:hover,
a:hover {
   color: #e51075;
}

#navbarindigogofirst>div>button,
a {
   font-size: 18px;
   font-weight: bolder;
   border: none;
   background-color: transparent;
   text-decoration: none;
   color: black;
   cursor: pointer;
}

#navbarindigogofirst>.dropdown-content {
   width: 100%;
   background-color: white;
}

.dropdown-content {
   /* width: 80%; */
   margin-top: 25px;
   margin-bottom: 50px;
   position: fixed;
   display: none;
   margin-left: -15%;
}

.dropdown-content>div:first-child {
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;
   width: 70%;
   margin: auto;
   padding-left: 8%;
}

.show {
   display: block;
}

#btmdroppart {
   /* display: grid;
   grid-template-rows: repeat(2, 1fr); */
   padding-top: 20px;
   background-color: #f5f5f5;
   width: 100%;
   padding-left: 15%;
}
#btmdroppart>div:first-child{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   margin-bottom: 20px;
   gap: 50px;
   margin-top: 30px;
}
#btmdroppart>div:first-child>div>a{
   font-weight: normal;
   color: #000;
}
#btmdroppart>div:last-child  {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px;
}
#btmdroppart>div:last-child >div{
   display: flex;
   gap: 30px;
   line-height: 20px;
   
}
#color8989{
   padding: 5px;
   padding-bottom: 30px;
}
#color8989>div{
   margin-bottom:10px ;
}
#color8989>div>a {
   /* font-style: normal; */
   font-weight: normal;
   /* color: */
}
#color8989>div>a:hover{
   text-decoration: underline;
}
.search_nav{
   display: none;
}

#myDropdown{
   background-color: #fff;
   width: 100%;
}

/* end css */


#background-image{
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://c1.iggcdn.com/indiegogo-media-prod-cld/image/upload/f_auto/v1441311610/rdre527vhsnrg20hjugp.jpg");
    
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 50vh;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: #fff;
     text-align: center;
}
#background-image > h1 {
     font-size: 40px;
     font-weight: 500;
     line-height: 50px;
}
#background-image > p {
     font-size: 16px;
     font-weight: 500;
     line-height: 26px;
     letter-spacing: 0;
     margin-top: 20px;
 }

 #collectionSubHeader{
     height: 100px;
     background-color: #f5f5f5;
     display: flex;
 }
 .container{
     width: 80%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .container > .icon{
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     cursor: pointer;
 }
 .container > .icon > img{
     width: 12%;
 }
 .container > .icon > button{
     width: 50%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     border: none;
     border: 2px solid #E51075;
     color: #E51075;
     background-color: #fff;
     padding: 6px 0px;
     font-size: 18px;
     font-weight: bold;
     cursor: pointer;
     transition: ease-in 0.3s;
 }
 .container > .icon > button:hover{
     background-color: #E51075;
     color: #fff;
 }
 .container > .icon > button > img{
     width: 15%;
     color: #E51075;
 }

 .container > .content{
     width: 30%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .content > p > span{
     color: #2a2a2a;
     font-size: 16px;
     font-weight: 700;
     line-height: 26px;
     letter-spacing: 0;
    margin-right: 8px;
 }
 .content > p{
     font-size: 16px;
     font-weight: 500;
     line-height: 26px;
     letter-spacing: 0;
 }


 #card_section{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px 10px;
    margin-top: 50px;
 }
 #card_section > div{
    border: 1px solid #2a2a2a;
    transition: ease-in-out 0.10s;
    cursor: pointer;
 }
 #card_section > div:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: scale(1.01);
 }
 #card_section > div > img{
    width: 100%;
    height: 280px;
 }
 #card_section > div > div .span{
    width: 100%;
    height: 7px;
    background-color: #35CA97;
    border-radius: 30px;
 }
 .price, .price-heart{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 #card_section > div > div > div #heart{
    width: 6%;
    height: 25px;
 }

 .padding {
    padding: 0px 20px;
 }

 #card_section > div > div .h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0;
    line-height: 21px;
    width: inherit;
    padding-top: 15px;
    color: #2a2a2a;
 }
 #card_section > div > div .para{
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6a6a6a;
    width: inherit;
 }
 #card_section > div > div .funding{
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    line-height: 11px;
    color: #6a6a6a;
    text-transform: uppercase;
    letter-spacing: 1px; 
 }
 #card_section > div > div .price{
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #2a2a2a; 
    margin: 5px 0px;
 }
 #card_section > div > div .s_title{
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    line-height: 11px;
    color: #6a6a6a;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 10px 0px;
 }

 .price-heart{
    border-bottom: 1px solid grey;
    margin:10px 0px;
 }

 .last_title{
    margin: 10px 0px;
   
 }
section{
   background-color: rgba(245, 245, 245, 0.7);
   margin-top: 100px;
   padding: 50px 0px;
}
.top-collection{
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   margin-bottom: 30px;
}
.top-collection>h4{
   font-size: 18px;
   font-weight: 600;
   line-height: 28px;
   letter-spacing: 0;
   color: #2a2a2a;
}
.top-collection>p>a{
   text-decoration: none;
   color: #E51075;
}
.top-collection>p>a:hover{
   text-decoration: underline;
}
 #moreCollections{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
 }
 #main-card-section>button{
   font-family: "benton-sans","Helvetica","sans-serif";
   font-weight: 700;
   font-size: 14px;
   line-height: 14px;
   text-transform: uppercase;
   letter-spacing: 1px;
   display: inline-block;
   cursor: pointer;
   background-color: #E51075;
   border: 2px solid #E51075;
   padding: 11px 58px;
   border-radius: 2px;
   color: #ffffff;
   text-align: center;
   min-height: 40px;
   text-align: center;
   display: flex;
   margin: 100px auto;
   text-align: center;
   
 }

 /* ------------------- collection ------------------- */

 #container {
   /* width: 100%; */
   height: 250px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }

 #container img {
   width: 100%;
   height: 100%;
 }

 .overlay{
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5);
   cursor: pointer;
   transition: opacity 0.4s ease-in-out;

 }
 #content{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   text-align: center;
   z-index: 10;
 }
 #container:hover .overlay {
   opacity: 0.10;
 }

 #content > h3{
   margin-bottom: 20px;
 }

 /* ---------------------------------------------------------- */
 /* ------------------------ footer ------------------------ */
 /* ---------------------------------------------------------- */

 footer{
   background-color: #f5f5f5;
   padding: 60px 10px 0;
 }
 #footer-section{
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
 }

 .footer-nav{
   width: 58%;
   display: flex;
   justify-content: space-between;
 }

 .indiegogo-email{
   width: 30%;
   text-align: center;

 }
 .footer-nav>.navlink>p{
   margin-bottom: 6px;
   font-size: .975rem;
 }
 .footer-nav>.navlink>p>a{
   text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0;
    color: #2a2a2a;
    background-color: transparent;
 }
 .footer-nav>.navlink>h3{
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0;
   color: #2a2a2a;
   text-align: left;
   margin-bottom: 10px;
 }
 .indiegogo-email>h4{
   padding-bottom: 4px;
   font-weight: 700;
   font-size: 1rem;
   line-height: 1.5;
   color: #2a2a2a;
 }
 .indiegogo-email>p{
   padding-bottom: 40px;
   font-size: 1rem;
   line-height: 1.5;
   font-weight: 500;
    letter-spacing: 0;
    color: #2a2a2a;
 }
 .indiegogo-email>input{
   width: 100%;
   height: 3rem;
   display: block;
   padding: 0.25rem 1rem;
   outline: none;
   background-color: #fff;
   transition: all .25s cubic-bezier(.455,.03,.515,.955);
   border-radius: 2px;
   border: 1px solid #e51075;
   margin-bottom: 10px;
 }
.indiegogo-email>.my-checkbox{
   display: flex;
   justify-content: center;
   align-items: center;
}
.indiegogo-email>.my-checkbox>p{
   line-height: 1.5;
   font-weight: 500;
   letter-spacing: 0;
}
.indiegogo-email>.my-checkbox>#checkbox{
   fill: #2a2a2a;
   cursor: pointer;
   font-size: 1rem;
   line-height: 1.5;
   font-weight: 500;
   letter-spacing: 0;
   background-color: #E51075;

}
.indiegogo-email>button{
   width: 100%;
   vertical-align: top;
    margin: 10px auto;
    background-color: #e51075;
    border: 1px solid #e51075;
    height: 2.5rem;
    padding: 3px 1rem;
    font-size: .75rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
    min-width: 112px;
    transition: all .1s cubic-bezier(.16,.8,.45,1);
    white-space: nowrap;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#footer-icon{
   width: 80%;
   margin: auto;
   display: flex;
   align-items: center;
}
#footer-icon>button{
   height: 40px;
   padding: 0px 30px;
   margin-right: 25px;
   background-color: #fff;
   border: 1px solid #c8c8c8;
   outline: none;
   cursor: pointer;
}
#footer-icon>img{
   width: 22px;
   margin-right: 15px;
   cursor: pointer;
}
hr{
   width: 80%;
   margin: auto;
   margin-top: 30px;
}

#copy-right{
   width: 60%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   padding-bottom: 50px;
}
#copy-right>p{
   font-size: .75rem;
   line-height: 1.5;
   cursor: pointer;
}
#copy-right>p:hover{
   text-decoration: underline;
}



/* -------------------- @media query -------------------- */

@media all and (min-width:770px) and (max-width:900px){
   #footer-section{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
    }
   
    .footer-nav{
      width: 65%;
      display: flex;
      justify-content: space-between;
    }
   
    .indiegogo-email{
      width: 25%;
      text-align: center;
   
    }


}

@media all and (min-width:470px) and (max-width:756px){
   #moreCollections{
      width: 95%;
   }

   #card_section{
      width: 95%;
   }

   #footer-section{
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      text-align: center;
    }
    .indiegogo-email{
      width: 90%;
      text-align: center;
      margin: auto;
      margin-bottom: 30px;
   
    }
    .footer-nav{
      width: 90%;
      margin: auto;
      margin-bottom: 30px;

    }

    
    .container > .icon{
      width: 50%;
      margin: auto;
  }

  .container > .content{
   display: none;
}

.container > .icon > img{
   width: 15%;
   margin-right: 10px;
}
}

@media all and (min-width:270px) and (max-width:465px){

   #card_section{
      width: 95%;
   }

   #moreCollections{
      width: 97%;
   }

   #footer-section{
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
    .indiegogo-email{
      width: 90%;
      margin: auto;
      margin-bottom: 30px;
   
    }
   .footer-nav{
      width: 90%;
      margin-bottom: 30px;
      flex-direction: column;

    }

    #footer-icon{
      width: 90%;
      justify-content: flex-start;
      align-items: center;
      margin-top: 30px;
   }
   #footer-icon>button{
      margin-bottom: 20px;
      padding: 0px 25px;
      font-size: 10px;
   }
   #footer-icon>img{
      margin-bottom: 20px;
   }

   #copy-right{
      width: 100%;
      flex-direction: column;
   }
   #copy-right>p{
      margin-bottom: 10px;
   }

   .container > .icon{
      width: 50%;
      margin: auto;
  }

  .container > .content{
   display: none;
}
.container > .icon > img{
   width: 20%;
}

.container > .icon > button{
   width: 100%;
   padding: 10px 30px;
   margin-left: 5px;
}
.container > .icon > button>img{
   width: 30%;
}
}

/* ------------------------ end ------------------------ */